<!DOCTYPE html>
<html>
  <head>
    <title>InertiaExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body class="p-5 bg-gray-100 mx-auto">
    <%= yield %>
  </body>
</html>
